:root {
  --bg-black-dark-core: #313131;
  --bg-black-dark: #4e4e4e;
  --bg-white-dark: #f2f1f1;
  --bg-button-dark: #1f2937;
  --bdr-button-dark: #4b5563;
  --cr-blue: #006dc0;
  --cr-green: #1e8296;
  --cr-sblue: #0082bf;
  --cr-turquesa: #57cc99;
  --link-dark: #8cb4ff;
  --link-white: #0069c2;
  --txt-lighlighted: #1db9b4;
  --txt-tt-dark: #ffa200;
  --txt-tt-white: #ff6978;
  --txt-tt-gold: #ffd700;
  /* background: #000000;
  background: #1B1B1B;
  background: #1DB9B466;
  background: #5DC1B9;
  background: #ECECEC;
  background: #FFFFFF; */
  --color-tmp: #415c7f;
  --color-tmp: #0d2852;
  --color-tmp: #a57c1b;
  --color-tmp: #d4a026;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0 auto;
  font-size: 1.6rem;
  background: var(--color-background);
  color: var(--color-text);
}
kbd {
  padding-inline: 6px;
  color: #4b5563;
  background-color: #f9fafb;
  border: 1px solid #9ca3af;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
strong{
  color: var(--color-strong);
  font-weight: 600;
}
.header__content {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 10dvh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  background: var(--color-background-dark);
  color: var(--color-text-dark);
  justify-content: space-between;
  box-shadow: 0 4px 4px rgb(0 0 0 / 35%);
  z-index: 100;
}
/* menu desplegable */
.visuallyHidden {
  display: none;
  overflow: hidden;
}
.theme-selector{
  color: var(--color-text-dark);
}
#hero,#experience,#porfolio,#about,#contact{
  scroll-margin-top: 10dvh;
}
.nav__logo__container::before {
  content: "\05D0";
}
.nav__btnMenu__container {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--bdr-button-dark);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav__btnMenu__container > svg {
  width: 50%;
}
.display__blur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}
.nav__menu__container {
  background: #14130d;
  position: fixed;
  top: 50%;
  width: min(85vw, 400px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border: 1rem solid #dbdbdb;
  border-top-width: 2rem;
}
.menu__container{
  position: fixed;
}
.nav__header__init{
  display: none;
}
.nav__header{
  display: flex;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--bdr-button-dark);
  margin: 0 auto;
  border-radius: 0.3rem;
  gap: 0.5rem;
  > input {
    width: 100%;
    outline: none;
    color: inherit;
    &::placeholder {
      color: #dbdbdb;
      font-style: italic;
    }
  }
}
.nav__option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-block: 1px solid var(--bdr-button-dark);
  margin: 1rem 0;
}
.nav__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem 0.8rem;
  justify-content: space-evenly;
}
.nav__footer > p {
  display: flex;
  gap: 0.2rem;
}
.nav__item__a {
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  color: #d4a026;
}
.nav__item__a:focus {
  background-color: #d4a026;
  color: #14130d;
}
.nav__container__logo {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.nav__item__logo a {
  width: 2.5rem;
  height: 2.5rem;
}
.main__hero__container {
  display: flex;
  position: relative;
  top: -11dvh;
  height: 100dvh;
  padding: 0 1.6rem;
  background-image: var(--style-theme);
}
.hero__container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  gap: 3rem;
  padding: 0 1.6rem;
}
.hero__presentacion {
  color: var(--color-text);
}
.hero__h2 {
  font-size: clamp(1.2rem, 4vw, 1.6rem);
}
.hero__h2__name {
  font-size: clamp(3rem, 8vw, 7rem);
  font-weight: 600;
  text-shadow: 0.05em 0.05em 0em #f00, -0.05em 0.02em 0em #0f0,
    0.01em -0.05em 0em #00f;
}
.hero__description {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  text-wrap:balance;
  margin: 0 0 1rem;
}
.global__button {
  border: 1px solid var(--bdr-button-dark);
  border-radius: 13px;
  padding: 0.8rem 1.6rem;
  line-height: 1;
  font-size: 2rem;
  font-weight: 600;
  background: var(--color-background);
  color: var(--color-secondary-high);
  text-shadow: var(--color-secondary-high) 0em 0em 0.2em;
  cursor: pointer;
}
.global__button:hover {
  background: inherit;
  border: 1px solid var(--color-background);
  text-shadow: none;
}
.accent__button{
  border: 1px solid var(--color-background);
  background: inherit;
  color: var(--color-accent);
  text-shadow: none;
  font-size: 1.6rem; 
  &:hover{
    text-decoration: underline;
    border: 1px solid var(--color-background);
  }
}
.secondary__button {
  font-size: 1.2rem;
  color: var(--color-accent);
  padding: 0 1rem;
  background: #176c7d3d;
  border: 1px solid;
  width: fit-content;
  text-shadow: var(--color-accent) 0em 0em 0.2em;
  &:hover{
    background: #176c7d3d;
  }
}
.principal__h2__tittle {
  font-size: 2.8rem;
  margin: 5rem 0 0.8rem;
  font-weight: 600;
}
/* 
@about

*/
.main__info__courses,
.main__info__container{
  display: none;
}
.main__general {
  padding: 0 1.6rem;
  /* color: var(--bg-black-dark-core); */
  line-height: 2.8rem;
  margin: 1.6rem 0 3.2rem;
}
.about__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 300px));
  margin: 1.6rem 0;
}
.about__skill__item::before {
  content: "▹";
  margin: 0 0.5rem;
}
.about__picture__portrair {
  border: 1px solid #0069c2;
  width: 180px;
  height: 180px;
  margin: 3rem auto;
}
.about__portrair__img {
  width: 100%;
  height: 100%;
}
.about__experience__container {
  position: relative;
  margin: 0 0 3rem 3rem;
  z-index: 0;
}
.about__experience__container::before {
  content: "";
  border-color: var(--color-text);
  opacity: 23%;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  height: 100%;
  left: -2rem;
}
.container__experience {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.experience__container {
  margin: 0 auto;
  max-width: 890px;
}
.experience__work {
  margin: 0 0 0 2rem;
  grid-column: span 2;
}
.experience__position{
  font-weight: 700;
}
.experience__description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: span 3;
  margin: 0 0 0 2rem;
}
.bullet {
  color: var(--color-secondary-high);
  position: absolute;
  left: -2.6rem;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: var(--color-secondary-high) 0em 0em 0.2em;
}
.experience__company {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-secondary-high);
}
.experience__more__info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
dialog {
  max-width: min(90%, 600px);
  top: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background: var(--color-background);
  color: var(--color-text);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog h2 {
  margin-top: 0;
}
dialog button {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.about__whatido {
  text-align: center;
}
.about__tittle {
  font-weight: 600;
  font-size: 2.5rem;
}
.about__whatido__tittle {
  font-weight: 600;
  font-size: 2rem;
  margin: 1.6rem 0;
}
.project__list {
  display: flex;
  overflow: overlay;
}
.project__skill__item {
  display: inline-block;
  position: relative;
  z-index: -1;
  border-radius: 95px;
  padding: 0.1rem 1rem;
  margin: 1rem;

  &::before {
    border-radius: 95px;
    content: "";
    position: absolute;
    z-index: -0;
    inset: 0;
    padding: 0.3rem;
    background: linear-gradient(to top right, #adff00, #0066ff);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
/* estilos de galeria de proyectos */
.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 1rem;
}
.portfolio__gallery__item {
  width: 100%;
  height: 100%;
  background-color:var(--color-background);
  border-radius: 0.5rem;
  text-align: center;
  overflow: hidden;
  border: 1px solid;
  padding: 0.5rem;
}
.portfolio__gallery__item p {
  text-align: left;
  text-wrap: pretty;
  overflow: hidden;
  margin: 0.8rem 1.3rem 2rem;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.img__portfolio__item {
  max-width: 100%;
  height: 340px;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: 1.5rem;
}
.portfolio__project__title{
  color: var(--color-accent);
  font-weight: 600;
}

.h3__subtittle__contact {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0 1.8rem 1.6rem 0;
}
.label__contact {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.textarea__contact,
.input__contact {
  width: 100%;
  padding: 0.3rem;
  border-bottom: 2px solid var(--negro);
  color: var(--bg-white-dark);
  text-wrap: balance;
  margin-bottom: 2rem;
}
.fieldset__contact {
  max-width: 600px;
  background: #212121;
  border-radius: 7px;
  padding: 2rem;
  margin: 2rem auto;
}
.a__contact{
  font-size: 2.1rem;
  padding: .5rem 1rem;
  margin: 2rem 0;
}

/* 
@footer
*/
.footer__content {
  margin: 5rem 0;
}
.footer__msg{
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 3rem 0;
}

